/* Ustawienia ogólne */
body {
    font-family: Arial, sans-serif;
    
    /* gradientowe tło */
    background: linear-gradient(135deg, #667eea, #764ba2);
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Kontener */
h1, form, ul {
    text-align: center;
}

/* Lista zadań */
#task-list {
    list-style: none;
    padding: 0;
    width: 300px;
}

/* Element listy */
#task-list li {
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Input i button */
input {
    padding: 8px;
    margin-right: 5px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}
/* ukończone zadanie */
.done {
    text-decoration: line-through;
    color: gray;
}
#task-list button {
    margin-left: 10px;
    background: crimson;
    color: white;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 4px;
}

#task-list button:hover {
    background: darkred;
}
.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}